-939868W10.Rhistory
.RData
.Rhistory
*.pper
.Rproj.user/3AC02640/sources/per/t/18874E94-contents
.Rproj.user/3AC02640/sources/per/t/C30D9541-contents
.Rproj.user/3AC02640/sources/per/t/FC811A1C-contents
.Rproj.user/C2B16918/persistent-state
.Rproj.user/C2B16918/rmd-outputs
.Rproj.user/C2B16918/saved_source_markers
.Rproj.user/C2B16918/sources/prop/038B7F11
.Rproj.user/C2B16918/sources/prop/05842CBA
.Rproj.user/C2B16918/sources/prop/067DA1BC
.Rproj.user/C2B16918/sources/prop/0849F695
.Rproj.user/C2B16918/sources/prop/19BD4370
.Rproj.user/C2B16918/sources/prop/1B136FFE
.Rproj.user/C2B16918/sources/prop/1B25FB81
.Rproj.user/C2B16918/sources/prop/1E8DF4FA
.Rproj.user/C2B16918/sources/prop/22B4513C
.Rproj.user/C2B16918/sources/prop/280F3C86
.Rproj.user/C2B16918/sources/prop/29E21099
.Rproj.user/C2B16918/sources/prop/2E020F9A
.Rproj.user/C2B16918/sources/prop/2E7B8EEB
.Rproj.user/C2B16918/sources/prop/303C6FA1
.Rproj.user/C2B16918/sources/prop/317019C0
.Rproj.user/C2B16918/sources/prop/343786FA
.Rproj.user/C2B16918/sources/prop/3F736DF4
.Rproj.user/C2B16918/sources/prop/410B7DF5
.Rproj.user/C2B16918/sources/prop/4214A162
.Rproj.user/C2B16918/sources/prop/4EDA21D8
.Rproj.user/C2B16918/sources/prop/4FD1E04E
.Rproj.user/C2B16918/sources/prop/612E0925
.Rproj.user/C2B16918/sources/prop/6DD6105E
.Rproj.user/C2B16918/sources/prop/7A691527
.Rproj.user/C2B16918/sources/prop/905AB9BC
.Rproj.user/C2B16918/sources/prop/96A79E90
.Rproj.user/C2B16918/sources/prop/A3B633CF
.Rproj.user/C2B16918/sources/prop/A3FA0203
.Rproj.user/C2B16918/sources/prop/A7E10B53
.Rproj.user/C2B16918/sources/prop/A87B16D7
.Rproj.user/C2B16918/sources/prop/AA8BE127
.Rproj.user/C2B16918/sources/prop/AF218059
.Rproj.user/C2B16918/sources/prop/B451FD5D
.Rproj.user/C2B16918/sources/prop/B645B130
.Rproj.user/C2B16918/sources/prop/BC2459A3
.Rproj.user/C2B16918/sources/prop/D4E73863
.Rproj.user/C2B16918/sources/prop/DA3172D0
.Rproj.user/C2B16918/sources/prop/F16655EA
.Rproj.user/C2B16918/sources/prop/F250354E
.Rproj.user/C2B16918/sources/prop/INDEX
.Rproj.user/C2B16918/viewer-cache/completion_popup_dataframe.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
aplicacion.Rproj
applimpieza/
pluma_actualizados.xlsx
rsconnect/shinyapps.io/datoseindicadores/Incidencias.dcf
sobrepesos_actualizados.xlsx
/archivos/
.Rproj.user/
logs/
